section .page {
	width: 720px;
	height: 1280px;
	background-color: #fcfcfc;
}
section .page .statusBar {
	color: #fff;
	background: rgba(0,0,0,0.5);
}
section .page .content  {
	position: relative;
}
section .page .content img {
	position: relative;
	left: 50%;
	top: 0px;
	text-align: center;
	margin-left: -140px;
	margin-top: 120px;
	margin-bottom: 80px;
}
section .page .content .input {
	background: green;
	position: relative;

}
section .page .content .input form {
	color: rgba(0,0,0,0.3);
	position: relative;
	width: 675px;
	margin-left: auto;
	margin-right: auto;
}
section .page .content .input #phoneNum {
	line-height: : 114px;
	font-size: 28px;
	width: 675px;
	height: 114px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border: 1px solid rgba(0,0,0,0.3)
	margin: 100px;
	box-sizing: border-box;
}
section .page .content .input #password {
	font-size: 40px;
	width: 675px;
	height: 114px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 1px solid rgba(0,0,0,0.3)
}