


.clearfix {
	clear: both;
}


/*添加设备开始*/

section .page_addEqp {
	width: 720px;
	height: 1280px;
	background-color: #fcfcfc;
}
section .page_addEqp .statusBar {
	font-size: 28px;
	color: #fff;
	background: rgba(0,0,0,0.5);
}
section .page_addEqp .header {
	position: relative;
	height: 90px;
	background-color: #fcfcfc;
}
section .page_addEqp .header ul {
	position: relative;
	list-style: none;
	width: 720px;
}
section .page_addEqp .header .panelMenu li {
	position: relative;
	line-height: 90px;
	display: inline-block;
	float: left;
	width: 240px;
	box-sizing: border-box;
	width: 240px;
	text-align: center;
	font-size: 30px;
}
section .page_addEqp .header .panelMenu .Menu img {
	position: absolute;
	top: 21px;
	left: 34px;
}
section .page_addEqp .header .panelMenu .addEqp img{
	position: absolute;
	top: 19px;
	right: 34px;
}

section .page_addEqp .content  {
	position: relative;
}
section .page_addEqp .content img {
	position: relative;
	left: 50%;
	top: 0px;
	text-align: center;
	margin-left: -140px;
	margin-top: 120px;
	margin-bottom: 80px;
}
section .page_addEqp .content .input {
	position: relative;

}
section .page_addEqp .content .input form {
	color: rgba(0,0,0,0.3);
	position: relative;
	width: 675px;
	margin-left: auto;
	margin-right: auto;
}
section .page_addEqp .content .input #phoneNum {
	display: inline-block;
	line-height: : 114px;
	font-size: 28px;
	width: 675px;
	height: 114px;
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.3);
	padding: 0px 20px 0px 20px;
	box-sizing: border-box;
}

section .page_addEqp .content .input .btn_addEqp  {
	width: 335px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
section .page_addEqp .content .input .btn_addEqp #btn_blue_addEqp {
	margin-top: 40px;
	width: 335px;	
	height: 90px;
	font-size: 28px;
	color: #fff;
	border-radius: 45px;
	border: none;
	background-color: #39aad6;
}



/*添加设备结束*/










































